.page-title {
    .title {
        text-transform: uppercase;
        text-align: center;

        &+.star-line {
            margin-top: 1rem;
        }
    }

    .star-line {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1.5rem;

        .line {
            width: 5rem;
            height: .25rem;
            background-color: var(--dark-color);
        }
    }

    &.white {

        &,
        .title {
            color: var(--white-color);
        }

        .star-line {
            .line {
                background-color: var(--white-color);
            }
        }
    }
}